---
import Logo from '../assets/favicon.svg';
---

<header id="main-header" class="bg-white w-full flex justify-between px-12 py-5.75">

	<div class="flex items-center gap-x-1.5">
		<Logo class="w-[16.5px]"/>
		<p class="font-poppins text-[19px] font-black">FASHION</p>
	</div>

	<nav class="flex items-center">

		<ul class="flex items-center gap-x-7.5" >
			<li><a class="font-poppins font-medium text-[#232424] hover:contrast-75" href="">CATALOGUE</a></li>
			<li><a class="font-poppins font-medium text-[#232424] hover:contrast-75" href="">FASHION</a></li>
			<li><a class="font-poppins font-medium text-[#232424] hover:contrast-75" href="">FAVOURITE</a></li>
			<li><a class="font-poppins font-medium text-[#232424] hover:contrast-75" href="">LIFESTYLE</a></li>
		</ul>

		<button class="bg-black font-poppins font-medium text-white px-[13.5px] py-[6.49px] ml-7.5 rounded hover:contrast-75">SIGN UP</button>

	</nav>

</header>

