<section class="w-full px-[47.5px] mt-25.5 mb-[11.9px]">

    <div class="flex bg-[#F4F6F5] w-full rounded-[25px]">
        <div class="ml-[56.53px] mt-[36.57px] mb-[42.75px]">
            <p class="font-poppins text-[45.6px] font-black w-2xs">LET'S EXPLORE UNIQUE CLOTHES</p>

            <p class="font-poppins text-[15.2px] mt-4.75">Live for Influential and Innovative fashion!</p>

            <button class="bg-black font-poppins font-medium text-white mt-[15.2px] px-[13.5px] py-[6.49px] rounded hover:contrast-75">SHOP NOW</button>
        </div>


        <div class="flex flex-1 justify-center">
            <img class="bottom-0 object-fit" width="422px" height="377px" src="/public/HeroGirl.png" alt="">
        </div> 

    </div>

</section>