<footer class="bg-[#E5C643] flex flex-col items-center">

    <h2 class="font-poppins w-200 text-center text-white text-[48px] font-black mt-35.25">JOIN SHOPPING COMMUNITY TO GET MONTHLY PROMO</h2>

    <p class="font-poppins text-white text-[28px]">Type your email down below and be young wild generation</p>

    <div class="mb-35.25 mt-12.25 bg-white rounded-[10px]">

        <input class="font-poppins ml-5.5 my-2.75 text-[18px] focus:outline-0" type="text" placeholder="Add your email here">   

        <button class="bg-black m-2 rounded-lg py-3 px-6 text-white font-poppins font-medium" >SEND</button>

    </div>


</footer>

